<!DOCTYPE html>
{% extends "template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}

{% block content %} <!--this block is where the page content is added-->

<div class="container">
    <h2 style="text-align:left;">All {{screen_type}} Courses</h2>

    <form class="add_your_class" method="GET" action="" >
        <input class="add_your_class" type="search" name="search"> 
        <button class="add_your_class" type="submit"> Search </button>
    </form>


    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Term</th>
                <th>Start</th>
                <th>End</th>
                <th>Course</th>
                <th>Teacher</th>
            </tr>
        </thead>
        <tbody>
            {% if all_courses %}
            {% for all_courses in all_courses %}
            <tr>
                <td>{{all_courses.term.term}}</td>
                <td>{{all_courses.term.termstart | date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{all_courses.term.termend | date:"SHORT_DATE_FORMAT"}}</td>
                <td><a href="{% url 'course_roster' pk=all_courses.pk %}">{{ all_courses.course.coursename }}</a></td>
                <td> {{ all_courses.teacher.first_name }} {{ all_courses.teacher.last_name }} </td>


            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>



<a href="{% url 'admin1_3' %}">
    <!--href value will link to completed courses page when created-->
    <button class="btn btn-outline-info">Completed</button>
</a>

<a href="{% url 'admin1_1' %}">
    <!--href value will link to current courses page when created-->
    <button class="btn btn-outline-info">Current</button>
</a>

<a href="{% url 'admin1_2' %}">
    <!--href value will link to current courses page when created-->
    <button class="btn btn-outline-info">Future</button>
</a>
{% endblock content %}  <!--ends content block-->