<!DOCTYPE html>
{% extends "template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}

{% block content %} <!--this block is where the page content is added-->
<h1 style="text-align:left;">Course Roster</h1>

<h5 style="text-align:left;">Course: {{course_schedule.course.coursecode}} {{course_schedule.course.coursename}}</h5>
<h6 style="text-align:left;">{{course_schedule.term.term}}: {{course_schedule.term.termstart}} - {{course_schedule.term.termend}}</h6>
<h6 style="text-align:left;">Teacher: {{course_schedule.teacher.first_name}} {{course_schedule.teacher.last_name}}</h6>
<table class="table table-light table-striped">
    <thead>
        <tr>
            <th>Student</th>
           
            <th>Grade</th>
            
            
        </tr>
    </thead>
    <tbody>
        {% if course_student %}
        {% for course_student in course_student %}
        <tr>
            <td><a href="{% url 'student_assignment' pk=course_student.course.id student=course_student.student %}">{{ course_student.student.first_name }} {{ course_student.student.last_name }}</a></td>
            <!--add a conditional statement here - if current or completed, show grade-->
            <td> {{ course_student.grade}} </td>
            
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<a href="{{request.META.HTTP_REFERER}}">
    <!--href value will link to completed courses page when created-->
    <button class="btn btn-outline-info">Go Back</button>
</a>



<a href="{% url 'list_course_assignment' pk=pk %}">
    <button class="btn btn-outline-info">Assignments</button>
</a>

{% endblock content %}  <!--ends content block-->