<!DOCTYPE html>

{% extends "template_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> {{model}} View </legend>
            {{form|crispy}}
        </fieldset>

        {{title}}: {{ data.title }}<br />
        {{description}}: {{ data.description }}<br />
    </form>
    <a href="{{request.META.HTTP_REFERER}}">

        <button class="btn btn-outline-info">Go Back</button>
    </a>
</div>
{% endblock content %}

