<!DOCTYPE html>
{% extends "template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}
{% load crispy_forms_tags %}
{% load user_tags %}


{% block content %}

  {% block content_header %}
    <h2>Files</h2>
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>File</th>
        <th>View</th>
        <th>Upload Date</th>
        <th>Student</th>
      </tr>
    </thead>
    <tbody>
      {% for files in files %}
        <tr>
          
          <td>{{ files.submission }}</td>
          <td>
            <a href="{{ files.submission.url }}" class="btn btn-primary btn-sm" download="{{ files.submission.url }}">
              Download
            </a>
          </td>
          <td>{{ files.dateuploaded }}</td>
          <td>{{ files.student.first_name }} {{ files.student.last_name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}