<!DOCTYPE html>
{% extends "template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}

{% block content %} <!--this block is where the page content is added-->

<!--Notes: Figure out how to have other pages pass user info for who's gradebook to display and for what class-->
<div class="container">


    <h2 style="text-align:left;">{{model}}</h2>



    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>{{title}}</th>
                <th>{{date_assigned}}</th>
                <th>{{date_due}}</th>
                <th>{{points_possible}}</th>
                <th>{{score}}</th>
            </tr>
        </thead>
        <tbody>
            {% if dataset %}
            {% for data in dataset %}
            <tr>
                <td>{{data.description}}</td>
                <td>{{data.assignmentdate | date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{data.duedate | date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{data.pointspossible}}</td>
                <td>{{data.score}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>





</div>



<a href="{% url 'create_assignment' %}">

    <button class="btn btn-outline-info">Add Assignment</button> <!--If the user is a student, button should not be there-->
 
</a>


{% endblock content %}  <!--ends content block-->