{% extends "template_base.html" %}
{% load static %}

{% block title %}
<h1 style="text-align:center;">Teacher's Pet</h1>
<h2 style="text-align:center;">Home</h2>
{% endblock title %}

{% block content %}
<!-- <h1 style="text-align:center;">Welcome to Teacher's Pet</h1> -->
<p style="text-align:center;"> <img src= "{% static 'app/images/logo_dark_medium.png' %}" alt=""> </p>
{% if user.is_authenticated %}
  <h2 style="text-align:center;">{{ user.first_name }}, Welcome to Teacher's Pet</h2>
{% endif %}
<h1 style="text-align:center;"></h1>
<p style="text-align:center;">For students and teachers who need to manage performance, personal information, and professional stats. Teacher’s Pet is a classroom management tool that takes away all the administrative headaches and frees up the teachers and students to grow and learn.</p>

{% if user.is_authenticated %}
  <small><a href="{% url 'logout' %}">
  <button class="btn btn-outline-dark" style="margin:2px">
  Log Out
  </button>
  </a></small>
{% else %}
  <small>You are not logged in</small>
  <small><a href="{% url 'login' %}">Log In</a> |</small>
  <small><a href="{% url 'register' %}">Sign Up</a></small>
{% endif %}
{% endblock content %}

