<!DOCTYPE html>
{% extends "template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}

{% block content %} <!--this block is where the page content is added-->

<div class="container">

    {% for user_stats in user_stats %}
    <h2 style="text-align:left;">My Enrollment Schedule: {{screen_type}} Courses for {{user_stats.first_name}} {{user_stats.last_name}}</h2>
    
    {% endfor %}

    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Term</th>
                <th>Start</th>
                <th>End</th>
                <th>Course</th>
                <th>Teacher</th>
                <!--add a conditional statement here - if current or completed, show grade-->
                {% if course.student.course.term.termstart < now %}
                {% else %}
                <th>Grade</th>
                {% endif %}


            </tr>
        </thead>
        <tbody>
            {% if course_student %}
            {% for course_student in course_student %}
            <tr>
                <td>{{course_student.course.term.term}}</td>
                <td>{{course_student.course.term.termstart | date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{course_student.course.term.termend | date:"SHORT_DATE_FORMAT"}}</td>
                <td><a href="{% url 'student_assignment' pk=course_student.course.id student=course_student.student %}">{{ course_student.course.course.coursename }}</a></td>
                <td> {{ course_student.course.teacher.first_name }} {{ course_student.course.teacher.last_name }} </td>
                    {% if course.student.course.term.termstart < now %}
                    {% else %}
                        <td> {{ course_student.grade}} </td>
                    {% endif %}

            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>


<a href="{% url 'student1_3' %}">
    <!--href value will link to completed courses page when created-->
    <button class="btn btn-outline-info">Completed</button>
</a>

<a href="{% url 'student1_1' %}">
    <!--href value will link to current courses page when created-->
    <button class="btn btn-outline-info">Current</button>
</a>
<a href="{% url 'student1_2' %}">
    <!--href value will link to current courses page when created-->
    <button class="btn btn-outline-info">Future</button>
</a>
{% endblock content %}  <!--ends content block-->
