<!DOCTYPE html>
{% extends "template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}

<!-- This screen uses a connection to a SQL Query, StudentCourseListWithGrade. Field index instead of field name has to be used
0 = course_student_id
1 = course_schedule_id
2 = student_id
3 = teacher
4 = coursegrade
5 = pointsEarned
6 = pointsPossible
7 = term
8 = termstart
9 = termend
10 = coursename
11 = screen
 -->


{% block content %} <!--this block is where the page content is added-->
<div class="container">
    
    {% for user_stats in user_stats %}
    <div class="article-metadata">
    <p> <img src= "{% static 'app/images/student_banner.png' %}" alt=""> </p>
    </div>
    <a class="mr-2">{{user_stats.last_name}}, {{user_stats.first_name}} </a>
    <a style="float:right; font-size:16px;">{{ screen_type}}</a>
    <p>
    
    {% endfor %}

            
    {% for course_student in course_student %}  <!--for loops through data in views.py and populates page-->
        <article class="media content-section">
          <div class="media-body">
            
            <div class="article-metadata">

              <a href="{% url 'student_assignment' pk=course_student.1 student=course_student.2  role='student' %}" class="mr-2" >{{ course_student.10 }}</a>   
              <small class="text-muted">{{ course_student.3 }}</small>   
              <a style="float:right; font-size:14px;">{{course_student.7}}</a>
            </div>
                <span style="float:left; font-size:80%;">{{ course_student.8|date:"M d, Y"}} - {{ course_student.9|date:"M d, Y"}}</span>
                <a style="float:right; font-size:32px;" href="{% url 'student_assignment' pk=course_student.1 student=course_student.2 role='student'%}"> 
                {% now "Y-m-d" as todaysdate %}
                {% if course_student.8|date:"Y-m-d" > todaysdate %}
                {% elif course_student.4 >= 90 %} A
                {% elif 90 > course_student.4 and course_student.4 >= 80 %} B 
                {% elif 80 > course_student.4 and course_student.4 >= 70 %} C 
                {% elif 70 > course_student.4 and course_student.4 >= 60 %} D 
                {% elif 60 > course_student.4 and course_student.4 >= 0 %} F 
                    {% else %} N/A
                    {% endif %}
                </a>
          </div>
        </article>

        
    {% endfor %}    <!--closes for loop block-->
    <a href="{% url 'student' screen_type='Completed' %}">
        
        <button class="btn btn-outline-info">Completed</button>
    </a>
    <a href="{% url 'student' screen_type='Current' %}">
        
        <button class="btn btn-outline-info">Current</button>
    </a>
    <a href="{% url 'student' screen_type='Future' %}">
       
        <button class="btn btn-outline-info">Future</button>
    </a>  
</div>



{% endblock content %}  <!--ends content block-->
