<!DOCTYPE html>
{% extends "template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}
{% load crispy_forms_tags %}
{% load user_tags %}

{% block content %} <!--this block is where the page content is added-->
<!--Notes: Figure out how to have other pages pass user info for who's gradebook to display and for what class-->
<div class="container">
<div class="article-metadata">
    <p> <img src= "{% static 'app/images/assignment_banner.png' %}" alt=""> </p>
    
    </div>
    <h4 style="text-align:left; color:#14213D; display:inline">{{course_schedule.course.coursename}}</h4>
    <small class="text-muted">{{ course_schedule.course.coursecode }}</small>
    {% if user_stats %}
        <a class="mr-2" style="float:right">{{user_stats.last_name}}, {{user_stats.first_name}} </a>
    {% else %}
        <a class="mr-2" style="float:right">{{student}} </a>
    {% endif %}


{% if course_assignment %}
    {% for course_assignment in course_assignment %} 
        <article class="media content-section">
          <div class="media-body">
            
            <div class="article-metadata">
              <a>Due : {{course_assignment.2 | date:"SHORT_DATE_FORMAT"}}</a>
              <a style="float:right; font-size:14px;">{{course_assignment.6}}/{{course_assignment.4}}</a>
            </div>
            <div class="media-body">
                <p style="float:left; font-size:80%;">{{course_assignment.3}}</p>
                <a style="float:right; font-size:16px;">
                    {% if role|is_teacher %}
                        {% now "Y-m-d" as todaysdate %}
                        {% if course_schedule.term.termend|date:"Y-m-d" > todaysdate %}
                        <a style="float:right;" href="{% url 'file_view' %}"><button class="btn btn-success" style="margin:2px">Grade</button></a>
                        {% endif %}
                        <a style="float:right;" href="{% url 'file_view' pk=course_assignment.0 %}"><button class="btn btn-outline-secondary" style="margin:2px">View Submission</button></a>
                    {% else %}
                        <a style="float:right;" href="{% url 'file_upload' pk=course_assignment.0 %}"<button class="btn btn-primary">Submit</button></a>
                    {% endif %}
                </div>
        </div>
          
        </article>

    {% endfor %}
{% endif %}    <!--closes for loop block--> 

{% endblock content %}  <!--ends content block-->
</div>