<!DOCTYPE html>
{% extends "template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}

{% block content %} <!--this block is where the page content is added-->
<div class="container">
    
    {% for user_stats in user_stats %}
    <div class="article-metadata">
    <p> <img src= "{% static 'app/images/student_courses.png' %}" alt=""> </p>
    </div>
    <a class="mr-2">{{user_stats.last_name}}, {{user_stats.first_name}} </a>
    <a style="float:right; font-size:16px;">{{ screen_type}}</a>
    <p>
    
    {% endfor %}

            
    {% for course_student in course_student %}  <!--for loops through dummy data in views.py and populates page-->
        <article class="media content-section">
          <div class="media-body">
            
            <div class="article-metadata">
              <a href="{% url 'student_assignment' pk=course_student.course.id student=course_student.student %}" class="mr-2" >{{ course_student.course.course.coursename }}</a>   <!--replace dummy data with DB data-->
              <small class="text-muted">{{ course_student.course.teacher.last_name }}, {{ course_student.course.teacher.first_name }}</small>    <!--replace link to teacher profile -->
              <a style="float:right; font-size:14px;">{{course_student.course.term.term}}</a>
            </div>
                <span style="float:left; font-size:80%;">{{ course_student.course.term.termstart|date:"M d, Y"}} - {{ course_student.course.term.termend|date:"M d, Y"}}</span>
                <a style="float:right; font-size:32px;" href="{% url 'student_assignment' pk=course_student.course.id student=course_student.student %}"> 
                {% now "Y-m-d" as todaysdate %}
                {% if course_student.course.term.termstart|date:"Y-m-d" > todaysdate %}
                {% elif course_student.grade >= 90 %} A
                {% elif 90 > course_student.grade and course_student.grade >= 80 %} B 
                {% elif 80 > course_student.grade and course_student.grade >= 70 %} C 
                {% elif 70 > course_student.grade and course_student.grade >= 60 %} D 
                    {% else %} F 
                    {% endif %}
                </a>
          </div>
        </article>

        
    {% endfor %}    <!--closes for loop block-->
    <a href="{% url 'student1_3' %}">
        <!--href value will link to completed courses page when created-->
        <button class="btn btn-outline-info">Completed</button>
    </a>
    <a href="{% url 'student1_1' %}">
        <!--href value will link to current courses page when created-->
        <button class="btn btn-outline-info">Current</button>
    </a>
    <a href="{% url 'student1_2' %}">
        <!--href value will link to current courses page when created-->
        <button class="btn btn-outline-info">Future</button>
    </a>  
</div>



{% endblock content %}  <!--ends content block-->
