<!DOCTYPE html>
{% extends "template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}
{% load user_tags %}


{% block content %} <!--this block is where the page content is added-->
<!--Notes: Figure out how to have other pages pass user info for who's gradebook to display and for what class-->
<div class="container">
    {% if user_stats %}
    {% for user_stats in user_stats %}

    <h5 style="text-align:left;">Assignments and Grades for:  {{user_stats.first_name}} {{user_stats.last_name}}</h5>
    {% endfor %}
    {% endif %}
    <h5 style="text-align:left;">Course: {{course_schedule.course.coursecode}} {{course_schedule.course.coursename}}</h5>
    <h6 style="text-align:left;">{{course_schedule.term.term}}: {{course_schedule.term.termstart}} - {{course_schedule.term.termend}}</h6>
    <h6 style="text-align:left;">Teacher: {{course_schedule.teacher.first_name}} {{course_schedule.teacher.last_name}}</h6>

    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Date assigned</th>
                <th>Date due</th>
                <th>Points possible</th>
                <th>Points earned</th>
                <th>Number grade</th>
                <th>Letter grade</th>
                {% if request.user|has_group:"Teachers" %}
                    <th>Edit</th>
                {% else %}
                    <th>Submit</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if course_assignment %}
            {% for course_assignment in course_assignment %}
            <tr>
                <td>{{course_assignment.3}}</td>
                <td>{{course_assignment.1 | date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{course_assignment.2 | date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{course_assignment.4}}</td>
                <td>{{course_assignment.6}}</td>
                <td>{{course_assignment.7 | floatformat }}</td>
                <td>{{course_assignment.8}}</td>
                {% if request.user|has_group:"Teachers" %}
                    <td><a href="#"><img src="/static/admin/img/icon-changelink.svg"></a></td>
                {% else %}
                    <td><a href="#"><img src="/static/admin/img/icon-addlink.svg"></a></td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>






</div>



<a href="{% url 'create_assignment' %}">

    <button class="btn btn-outline-info">Add Assignment</button> <!--If the user is a student, button should not be there-->

</a>


{% endblock content %}  <!--ends content block-->