<!DOCTYPE html>
{% extends "template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}

{% block content %} <!--this block is where the page content is added-->

<div class="container">

    {% for user_stats in user_stats %}
    <h2 style="text-align:left;">Teaching Schedule: {{screen_type}} Courses for {{user_stats.first_name}} {{user_stats.last_name}}</h2>
    {% endfor %}

    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Term</th>
                <th>Start</th>
                <th>End</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            {% if course_teacher %}
            {% for course_teacher in course_teacher %}
            <tr>
                <td>{{course_teacher.term.term}}</td>
                <td>{{course_teacher.term.termstart | date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{course_teacher.term.termend | date:"SHORT_DATE_FORMAT"}}</td>
                <td><a href="{% url 'course_roster' pk=course_teacher.pk %}">{{ course_teacher.course.coursename }}</a></td>
                
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>



<a href="{% url 'teacher1_3' %}">
    <!--href value will link to completed courses page when created-->
    <button class="btn btn-outline-info">Completed</button>
</a>

<a href="{% url 'teacher1_1' %}">
    <!--href value will link to current courses page when created-->
    <button class="btn btn-outline-info">Current</button>
</a>

<a href="{% url 'teacher1_2' %}">
    <!--href value will link to current courses page when created-->
    <button class="btn btn-outline-info">Future</button>
</a>
{% endblock content %}  <!--ends content block-->