<!DOCTYPE html>
{% extends "template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}
{% load user_tags %}


{% block content %} <!--this block is where the page content is added-->
<!--Notes: Figure out how to have other pages pass user info for who's gradebook to display and for what class-->
<div class="container">

    

    <div class="article-metadata">
    <h4 style="text-align:left; color:#14213D; display:inline">{{submission.assignment.course_schedule.course.coursename}}</h4>  
    <small class="text-muted">{{ submission.assignment.course_schedule.course.coursecode }}</small>
    </div>
    <a class="mr-2">{{submission.student.last_name}}, {{submission.student.first_name}} </a>
    <a style="float:right; font-size:16px;">Due: {{ submission.assignment.duedate}}</a>
    <p>

    <article class="media content-section">
        <div class="media-body">
            
            <div class="article-metadata">
                <a class="mr-2">Description : {{submission.assignment }}</a>
            </div>
            <div class="media-body">
                <p style="float:left; font-size:80%;">{{submission.submission}}</p>
                <a href="{{ submission.submission.url }}" class="btn btn-primary btn-sm" download="{{ files.submission.url }}" style="float:right">
                    Download
                </a>
                    
            </div>
        </div>       
    </article>
</div>
{% endblock %}