<!DOCTYPE html>
{% extends "app/template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}

{% block content %} <!--this block is where the page content is added-->
    <h1 style="text-align:left;">Current Semester</h1>
    <h6 style="text-align:left;">Mmm DD, YYYY - Mmm DD, YYYY</h6>

    {% for dummy_data in dummy_data %}  <!--for loops through dummy data in views.py and populates page-->
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><a class="mr-2">{{ dummy_data.dept }}</a></h2>   <!--replace dummy data with DB data-->
                </div>
                <a class="mr-2" href="#">{{ dummy_data.class }}</a>
                <small class="text-muted">{{ dummy_data.teacher }}</small>
            </div>
        </article>
    {% endfor %}    <!--closes for loop block-->

    <a href="#">    <!--href value will link to completed courses page when created-->
        <button class="btn btn-outline-info">Completed</button>
    </a>

    <a href="#">    <!--href value will link to current courses page when created-->
        <button class="btn btn-outline-info">Current</button>
    </a>
    
    <a href="#">    <!--href value will link to future courses page when created-->
        <button class="btn btn-outline-info">Future</button>
    </a>
{% endblock content %}  <!--ends content block-->