<!DOCTYPE html>
{% extends "app/template_base.html" %}  <!--creates child of base template. Applies nav bar to this view-->
{% load static %}

{% block content %} <!--this block is where the page content is added-->
    <h1 style="text-align:left;">{{ roster.0.class }}</h1>
    <h6 style="text-align:left;">{{ roster.0.classid2 }}</h6>
    <h6 style="text-align:left;">{{ roster.0.datestart|date:"M d, Y"}} - {{ roster.0.dateend|date:"M d, Y"}}</h6>

    {% for roster in roster %}  <!--for loops through dummy data in views.py and populates page-->
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{roster.lastname|capfirst}}, {{ roster.firstname|capfirst }}</a>   <!--replace dummy data with DB data-->
              <small class="text-muted">{{ roster.grades|length }}/{{ roster.assignments|length }}</small>    <!--replace dummy data with DB data-->
            </div>
            <h3><a class="article-title">{{ roster.grades|length }}/{{ roster.assignments|length }} Assignments Graded</a></h3>  <!--replace dummy data with DB data-->
          </div>
        </article>
    {% endfor %}    <!--closes for loop block-->

    <a href="#">    <!--href value will link to completed courses page when created-->
        <button class="btn btn-outline-info">Completed</button>
    </a>

    <a href="#">    <!--href value will link to current courses page when created-->
        <button class="btn btn-outline-info">Current</button>
    </a>
    
    <a href="#">    <!--href value will link to future courses page when created-->
        <button class="btn btn-outline-info">Future</button>
    </a>
{% endblock content %}  <!--ends content block-->